<div class="answer">
  <li>Answer: {{answer.body}}</li>
  <p>
    by {{answer.user.userName}}
    {{log answer.user.userName}}
  </p>

  <p>{{answer.averageRating}}</p>
  {{new-rating answer=answer saveRating="saveRating"}}
  {{edit-answer deleteAnswer="deleteAnswer" answer=answer}}
</div>
