{{#if addNewAnswer}}
  <h1>New Answer</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Username:</label>
        {{input value=author id="author"}}
      </div>
      <div class="form-group">
        <label for="body">Answer:</label>
        {{input value=body id="body"}}
      </div>
      <button {{action 'saveAnswer1'}}>Add Answer</button>
    </form>
  </div>
{{else}}
  <button {{action 'showAnswerForm'}}>Answer the question</button>  
{{/if}}
